<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whmnrc.carpartsshow">
    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name = "android.permission.WRITE_SETTINGS." />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 调用硬件相机权限 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:name="com.whmnrc.carpartsshow.app.App"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.whmnrc.carpartsshow.ui.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.whmnrc.carpartsshow.ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.whmnrc.carpartsshow.ui.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.whmnrc.carpartsshow.ui.FingerprintLoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.whmnrc.carpartsshow.ui.ForgetPassActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.whmnrc.carpartsshow.ui.NewPassActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.whmnrc.carpartsshow.ui.me.activity.CreditMoneyActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.whmnrc.carpartsshow.ui.me.activity.MyOrderActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.whmnrc.carpartsshow.ui.me.activity.MyCollectActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.whmnrc.carpartsshow.ui.me.activity.MyCouponActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.whmnrc.carpartsshow.ui.me.activity.MyIntegralActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.whmnrc.carpartsshow.ui.me.activity.AboutUsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.whmnrc.carpartsshow.ui.me.activity.FeedbackActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.whmnrc.carpartsshow.ui.me.activity.UpdatePassActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.whmnrc.carpartsshow.ui.me.activity.UpdateAddressActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.whmnrc.carpartsshow.ui.me.activity.IntegralShopActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.whmnrc.carpartsshow.ui.me.activity.IntegralRecordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.whmnrc.carpartsshow.ui.me.activity.MyMoneyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.whmnrc.carpartsshow.ui.me.activity.IntegralGoodsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.whmnrc.carpartsshow.ui.me.activity.NewsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.whmnrc.carpartsshow.ui.home.activity.GoodsSearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.whmnrc.carpartsshow.ui.home.activity.GoodsDetailsActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name="com.whmnrc.carpartsshow.ui.shopping.ShoppingCartActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.whmnrc.carpartsshow.ui.home.activity.MessageRecordActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity android:name="com.whmnrc.carpartsshow.ui.classify.activity.CarBrandDetailsActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name="com.whmnrc.carpartsshow.ui.shopping.activity.ConfirmOrderActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.whmnrc.carpartsshow.ui.me.activity.AllOrderActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.whmnrc.carpartsshow.ui.me.activity.NewsDetailsActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name="com.whmnrc.carpartsshow.ui.scancode.activity.ScanCodeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.whmnrc.carpartsshow.ui.home.activity.TimelimitActivity"
            android:screenOrientation="portrait" />
        <!--<receiver android:name=".receiver.NetworkReceiver">-->
            <!--<intent-filter>-->
                <!--<action  android:name="android.net.conn.CONNECTIVITY_CHANGE"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->
    </application>

</manifest>